body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
p{
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #F05;
    color:blue;
}


img {
    border:2px seagreen;
    /*border-radius: 50%; */
    float: left;
    margin-right: 20px;
    padding: 30px;
    
}
    